.sheets-chart-ui-editor {
    font-size: 14px;
    font-weight: normal;

    &-tab {
        display: inline-block;
        padding: 6px 8px;
        cursor: pointer;

        &:hover {
            color: #49a9ee;
        }

        &.active {
            color: #108ee9;

            &:hover {
                color: #49a9ee;
            }
        }
    }
}