
.sheets-chart-ui-editor-bar-setting {
    &-action {
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        box-sizing: initial;
        &:hover {
            background-color: #f2f2f2;
        }
        &.disabled {
            fill: #d9d9d9;
            cursor: not-allowed;

            &>path {
                fill: #d9d9d9;
            }
        }
    }
}

.sheets-chart-ui-editor-bar-setting-sery-item {
    display: flex;

    &>div[data-u-comp="select"] {
        width: 255px;
        overflow: hidden;
        align-items: center;
    }

    &-handler {
        padding: 0 6px;
        display: flex;
        align-items: center;
    }

    &-actions {
        padding-left: 8px;
        display: flex;
        align-items: center;
    }
}